@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:white;
    padding: 15px;
}

#heading{
    margin: 10px 0;
    text-align: center;
    font-family: asap, sans-serif;
    font-weight: bold;
}

body{
    background-color: black; 
}

.score-board{
    border: 3px solid white;
    width:200px;
    margin:20px auto;
    padding: 15px 20px;
    border-radius:4px ;
    font-family: asap, sans-serif;
    font-size: 46px;
    position: relative;
    color: white;
    text-align: center;
}

.badges{
    
    font-family: asap, sans-serif;
    font-size:20px;
    padding: 2px 10px;
}

#user-badge{
    padding: 2px;
    background-color: #ed070f;
    position: absolute;
    top:30px;
    left: -25px;  
    border-radius: 4px;
}

#comp-badge{
    padding: 2px;
    background-color: #ed070f;
    position: absolute;
    top:30px;
    right: -25px;  
    border-radius: 4px;
}

#result{
    text-align: center;
    font-family: asap, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin:10px auto;
    
}
.choice{
    text-align: center;
    margin-top:50px;
    
}

.images{
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    display:inline-block;
    transition: all 0.3s ease;
    zoom: 80%;
}

.images:hover{
    cursor: pointer;
    background-color: #333232;
}

#action{
    font-family: asap, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.green-glow{
    border: 4px solid #05f211;
    box-shadow: 0 0 10px #08bf11;
    zoom:120%;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.red-glow{
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
    zoom:120%;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.blue-glow{
    border: 4px solid #03d7fc;
    box-shadow: 0 0 10px #068aa1;
    zoom:120%;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.user-zoom{
    zoom:120%;
    transition: all 0.3s ease;
}

.comp-zoom{
    zoom:120%;
    transition: all 0.3s ease;
}
}